.customers li {
    cursor: pointer;
    position: relative;
    background-color: #EEE;
    margin: .5em;
    padding: .3em;
}

.customers li:hover {
    background-color: #DDD;
}

.customers li.selected {
    color: red;
}

.add-customer {
    margin: 20px;
}

.add-customer button {
    font-size: medium;
    position: relative;
}